<div id="contact" data-section-id="{{ section.id }}" class="s-contact-section">  <div class="section-spacing">
    <div class="container">
      <div class="s-contact-layout">
        <div class="s-contact-left">
          {% if section.settings.tagline != blank %}
            <div class="s-contact-tag">{{ section.settings.tagline }}</div>
          {% endif %}

          <h2 class="s-contact-title">{{ section.settings.title }}</h2>
          <p class="s-contact-text">{{ section.settings.text }}</p>

          <div class="s-contact-item-wrap">
            {% if section.settings.email_link != blank %}
              <div class="s-contact-item">
                {% if section.settings.email_icon != blank %}
                  <img
                    loading="lazy"
                    src="{{ section.settings.email_icon | image_url: width: 24 }}"
                    alt=""
                    class="s-contact-item-icon"
                  >
                {% endif %}
                <a href="mailto:{{ section.settings.email_link }}" class="s-contact-item-text">
                  {{- section.settings.email_link -}}
                </a>
              </div>
            {% endif %}

            {% if section.settings.phone_link != blank %}
              <div class="s-contact-item">
                {% if section.settings.phone_icon != blank %}
                  <img
                    loading="lazy"
                    src="{{ section.settings.phone_icon | image_url: width: 24 }}"
                    alt=""
                    class="s-contact-item-icon"
                  >
                {% endif %}
                <a href="tel:{{ section.settings.phone_link | replace: ' ', '' }}" class="s-contact-item-text">
                  {{- section.settings.phone_link -}}
                </a>
              </div>
            {% endif %}
          </div>

          <div class="s-contact-info">{{ section.settings.form_instruction }}</div>
        </div>

        <div id="s-contact-right" class="s-contact-right">
          <div class="s-contact-us-wrap w-form">
            {% form 'contact', class: 's-contact-us' %}
              {% if form.posted_successfully? %}
                <div class="success-message w-form-done" style="display: block;">
                  <div>
                    {{ 'contact.form.post_success' | t | default: 'Thank you! Your submission has been received!' }}
                  </div>
                </div>
              {% elsif form.errors %}
                <div class="error-message w-form-fail" style="display: block;">
                  <div>{{ form.errors | default_errors }}</div>
                </div>
              {% endif %}

              <div class="s-contact-us-grid">
                <div class="s-contact-us-input-wrap">
                  <input
                    class="s-contact-us-input w-input"
                    name="contact[name]"
                    placeholder="Full name"
                    type="text"
                    id="ContactFormName-{{ section.id }}"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  >
                </div>
                <div class="s-contact-us-input-wrap">
                  <input
                    class="s-contact-us-input w-input"
                    name="contact[phone]"
                    placeholder="Contact Number"
                    type="tel"
                    id="ContactFormPhone-{{ section.id }}"
                    value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                  >
                </div>
              </div>

              <div class="s-contact-us-input-wrap">
                <input
                  class="s-contact-us-input w-input"
                  name="contact[email]"
                  placeholder="Email"
                  type="email"
                  id="ContactFormEmail-{{ section.id }}"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  spellcheck="false"
                  autocapitalize="off"
                  required
                >
              </div>

              <div class="s-contact-us-textarea-wrap">
                <textarea
                  id="ContactFormMessage-{{ section.id }}"
                  name="contact[body]"
                  placeholder="Message"
                  class="s-contact-us-textarea w-input"
                >{% if form.body %}{{ form.body }}{% endif %}</textarea>
              </div>

              <div class="s-contact-us-btn-wrap">
                <input type="submit" class="s-contact-us-btn w-button" value="{{ section.settings.button_text }}">
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "LP Contact Section",
  "class": "lp_1_contact_section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "tagline",
      "label": "Tagline",
      "default": "Contact Us"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Questions? We're Here and Happy To Help."
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Description",
      "default": "No Question Is Too Small. Our team is here to answer your questions and find the best path forward for you."
    },
    {
      "type": "image_picker",
      "id": "email_icon",
      "label": "Email Icon"
    },
    {
      "type": "text",
      "id": "email_link",
      "label": "Email Address",
      "default": "support@weightrx.com"
    },
    {
      "type": "image_picker",
      "id": "phone_icon",
      "label": "Phone Icon"
    },
    {
      "type": "text",
      "id": "phone_link",
      "label": "Phone Number",
      "default": "+1 (866) 286 4886"
    },
    {
      "type": "text",
      "id": "form_instruction",
      "label": "Form Instruction",
      "default": "Or fill out the form and our team will respond as soon as possible:"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Send Message"
    }
  ],
  "presets": [
    {
      "name": "LP Contact Section"
    }
  ]
}
{% endschema %}
